body {
	margin: 0;
	font-family: 'Baloo Da 2', cursive;
	background-color: #242;
	color: #ccc;
	padding-top: 20px;
}

main {
	width: 85vw;
	margin: auto;
	border: 5px solid #131;
	border-radius: 20px;
	padding: 15px;
	margin-bottom: 20px;
}

h1 {
	line-height: 50px;
	font-size: 50px;
	margin: 0;
	border-bottom: 2px solid #131;
}

h2{
	margin: 0;
	font-weight: normal;
	border-bottom: 2px solid #131;
}

h3 {
	font-size: 30px;
	margin: 0;
}

h4 {
	color: #3f3;
	font-size: 20px;
	margin: 0;
}

p {
	margin: 0;
}

a{
	color: #292;
}

a:hover {
	color: #595;
}

#info, #commands, #contact{
	margin-left: 30px;
}

.title {
	color: #3aa;
}

.none {
	font-weight: normal;
	color: red;
}

.alias, .arg{
	font-weight: normal;
	color: yellow;
}

.op-arg {
	font-weight: normal;
	color: #c2c;
}

code {
	color: #999;
	padding: 2px;
	border-radius: 5px;
	background-color: rgba(50, 125, 50, 0.5);
}

.command-info {
	margin-top: 0;
	margin-left: 15px;
}

#one{
	color: #ffd700;
}

#two{
	color: #c0c0c0;
}

#three{
	color: #cd7f32;
}

nav ul li{
	display: inline;
	margin-right: 5px;
	font-size: 20px;
}

nav, nav ul li{
	margin-top: 0;
	margin-bottom: 0;
}

nav {
	border-bottom: 2px solid #131;
}