{% extends "base.html" %}

{% block title %}Cactus Bot - leaderboard{% endblock%}
{% block ogp_title %}Cactus Bot - leaderboard{% endblock%}


{% block content %}

<h3>Leaderboard</h3>
<div id="leaderboard">
	<ol>
		{% set count = namespace(value=1) %}
		{% for i in ranks %}
			{% if count.value == 1 %}
			<li id="one"><strong><a href="/user/{{i['user_id']}}">{{i["user_tag"]}}</a>: {{i["score"]}} cm</strong></li>
			{% elif count.value == 2 %}
				<li id="two"><strong><a href="/user/{{i['user_id']}}">{{i["user_tag"]}}</a>: {{i["score"]}} cm</strong></li>
			{% elif count.value == 3 %}
				<li id="three"><strong><a href="/user/{{i['user_id']}}">{{i["user_tag"]}}</a>: {{i["score"]}} cm</strong></li>
			{% else %}
			<li><a href="/user/{{i['user_id']}}">{{i["user_tag"]}}</a>: {{i["score"]}} cm</li>
			{% endif %}
			{% set count.value = count.value + 1 %}
		{% endfor %}
	</ol>
</div>


{% endblock %}